.app-bar {
    background-color: #365885;
}

.app-bar-icon {
    position: absolute;
    top: 20px;
    right: 3%;
}

.drawer-container {
    color: #d3d2df;
}

.drawer-icons {
    color: #d3d2df;
}

.profile-menu-items {
    margin-left: 12px;
}

.drawer-logo {
    color: #d3d2df;
    margin-left: 25% !important;
    font-size: x-large !important;
    font-style: oblique;
    font-stretch: expanded;
    font-family: cursive;
}

.drawer-footer {
    margin-top: 55vh;
    .logout-icon{
        color: red !important;
        text-decoration: none !important;
    }
    color: red;
    p{
        margin-top: 20px;
        margin-left: 25%;
        color: rgba($color: #fff, $alpha: 0.5);
        font-size: small;
    }
}
