.app-bar {
    background-color: #365885;
}

.app-bar-icon {
    position: absolute;
    top: 20px;
    right: 3%;
}

.drawer-container {
    color: #d3d2df;
}

.drawer-icons {
    color: #d3d2df;
}

.profile-menu-items {
    margin-left: 12px;
}

.drawer-logo {
    color: #d3d2df;
    font-size: x-large !important;
    font-style: oblique;
    font-stretch: expanded;
    font-family: cursive;
}
