.order-card-list-container {
    width: 75vw;
    height: 60vh;
    overflow: visible !important;
    background-color: rgba(141, 212, 238, 0.55);
    border-radius: 5px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 2vh;
    align-items: center;
    display: absolute;
    .card-header {
        margin-bottom: 20px;
    }
    .data-grid-container {
        height: 45vh;
        width: 90%;
        margin-inline: 5%;
        .card {
            height: 100%;
            width: 100%;
            background-color: #365885;
            border-radius: 3px;
            .grid {
                color: #d3d2df !important;
            }
        }
    }
}

.order-card {
    .card-header {
        height: 50px;
        background-color: rgb(57, 116, 165);
        color: #d3d2df;
    }
}

.order-detail-dialog {
    margin-bottom: 1vh;
    min-width: 20vw;
    margin-left: 0.3%;
    width: 90%;
    overflow-x: hidden;
    height: 80%;
    overflow: hidden;
    .title {
        margin-right: 1%;
        .text {
            color: rgb(197, 170, 170);
            font-size: larger;
            margin-top: 50px;
            position: absolute;
        }
        .icon {
            font-size: xx-large !important;
            margin-right: 10px !important;
            animation: icon 0.7s infinite;
        }
        display: flex;
        align-items: center;
    }
    .dialog-close-icon {
        position: absolute;
        right: 15%;
        color: #d3d2df;
        &:hover {
            color: red;
        }
    }
    .dialog-info {
        height: 100% !important;
        .dialog-card {
            margin-top: 10px;
            text-align: center;
            width: 100%;
            height: 75%;
            background-color: #223c5e;
            border-radius: 5px;
            padding-top: 10px;
            .subtitle {
                margin-top: 10px;
                margin-bottom: 10px;
                color: rgba($color: rgb(174, 224, 214), $alpha: 1);
                font-size: larger;
            }
            .keys {
                color: rgba($color: rgb(100, 184, 166), $alpha: 1);
                font-size: larger;
            }
            .values {
                font-size: large;
                color: rgba($color: rgb(176, 240, 168), $alpha: 1);
            }
        }
    }
    .detail-is-open {
        background-color: #bdd2ec;
        width: 50%;
        margin-left: 20%;
        border-radius: 5px;
    }
}

.order-completed {
    display: flex;
    align-items: center;
    margin-right: 10%;
    font-size: smaller;
    .order-completed-text {
        margin-left: 5px;
    }
    margin-bottom: 10px;
    color: rgb(9, 211, 9);
}

.order-dialog {
    background-color: #365885 !important;
}

@keyframes icon {
    0% {
        color: white;
    }
    100% {
        color: rgb(4, 241, 4);
    }
}
